{% extends 'base.html' %}
{% import 'macros.html' as macro %}
 {% block content %}
        <!----Popular movie---->
        <h3> Popular Movies</h3>
        <ul>
           {{ macro.displayMovieList(popular)}}
        </ul>
        <!----Upcoming movie-->
        <h3>Upcoming movies</h3>
            <ul>
                {{ macro.displayMovieList(upcoming)}}
            </ul>        
        <!----Now showing----->
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
{% endblock %}
